#nav_about.about
    #about_header
        %h3 About
    %ul#about_ul
        %li 
            MBA 
            %a{:href => "https://www8.gsb.columbia.edu/", :target => "_blank"} Columbia Business School.
        %br
        %li Several years of high-level work in London’s tech & startup %industry.
        %br
        %li 
            I’ve spent the last 20 years living in multiple countries, starting with education and work in the U.S.  Following that, I’ve lived in places such as London, Madrid, and Vietnam. My work life has predominantly been in tech and startups. I’m now at 
            %a{:href => "https://www.craftacademy.se", :target => "_blank"} Craft Academy 
            to fill the gap of the one remaining area in my industry that I’ve yet to fully grasp — the actual tech.

#my_image
    %img{:src => "./images/my_image.png"}

#social_media
    %a{:href => "https://www.linkedin.com/in/camronmoradi/", :target => "_blank"}
        %img{:src => './images/linkedin.png'}
    %a{:href => "https://www.instagram.com/camronjuniorldnf/", :target => "_blank"}
        %img{:src => './images/instagram.png'}
