.header#nav_home

    %img{:src => "./images/landscape.jpg"}

    %div#mySidenav.sidenav
        %a{:href => "#nav_home", :id => "home"} Home
        %a{:href => "#nav_projects", :id => "projects"} Projects
        %a{:href => "#nav_about", :id => "about"} About
        %a{:href => "#nav_contact", :id => "contact"} Contact

    #header_title
        %h2 Camron's portfolio
