.projects_section#nav_projects

    %h3#projects_header 
        Projects

    .cards    
        - data.projects.each do |project|
            .card
                %img{src: project[:image]}
                .card-title
                    %a.toggle-info.btn                                
                        %span.left
                        %span.right
                    %h2
                        = project[:name]
                    %small= project[:technologies]
                .card-flap.flap1
                    .card-description
                        = project[:description]
                .card-flap.flap2
                    %br
                    %br
                    %br
                    .card-actions
                        %a{href: "#{ project[:github]}", class: "btn", target: "_blank", title: "View project on Github" } View project