.wrapper
    .header
    #my_name 
        %p My name
        %nav 
            %ul 
                %li Home 
                %li About 
                %li Projects 
                %li Contact 

    .projects_section
        %ul
            %img(src="/images/image_sample.jpg" width="300px" height="auto")
            %img(src="/images/image_sample.jpg" width="300px" height="auto")
            %img(src="/images/image_sample.jpg" width="300px" height="auto")
            %img(src="/images/image_sample.jpg" width="300px" height="auto")
            %img(src="/images/image_sample.jpg" width="300px" height="auto")
            %img(src="/images/image_sample.jpg" width="300px" height="auto")
    .about
        = partial 'partials/about'
    #my_image
    #my_social_media
    .contact
        = partial 'partials/contact'

