
.resume_wrapper

    .resume_nav_menu
        %p nav menu text

    .resume_body

-# For ease, reference the look & structure of my LinkedIn page

        .about
        .experience
        .education
        